{%extends 'base.html' %}

{%block title%} Über uns | Supremus Dilectio 2008 {%endblock%}

{%block content%}



<section class="section wb" style='font-family: "Gelasio", serif;
font-weight: 400;'>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    <div>
                        <h3 class="heading">ÜBER UNS</h3>
                        <p class="para">

                            Im Anschluss an den zweiten Sieg unseres Sportvereins in der Saison 2008/2009, lediglich
                            zwei weitere sollten in der ganzen Saison folgen, gründeten eine Handvoll junger Menschen
                            einen stinknormalen Fanclub, obwohl es bereits eine breit gefächerte Palette an möglichen
                            Fanclubs gab, denen man sich hätte anschließen können. Zu diesem Zeitpunkt wussten wir noch
                            nicht genau was uns an den anderen FC´s störte, doch im Laufe der Zeit sollte sich
                            herauskristallisieren, dass uns ihr positiver Bezug auf den SV Wehen Wiesbaden und die
                            geringe Wertschätzung für den Mutterverein missfielen. Sodass wir auf unsere eigene Art und
                            Weise, Stimmung ins große Runde bringen wollten. Zur Gründungszeit befanden wir uns in der
                            zweiten Zweitligasaison und es sah alles andere als rosig aus. 4 Siege, 12 Unentschieden und
                            22 Niederlagen später, sollte es ‚ade Unterhaus‘ heißen. Dementsprechend miserabel war die
                            Stimmung: Der im Zuge des Aufstiegs gegründete Dachverband „Szene 1926“ vermochte nicht mehr
                            wirklich zu funktionieren und alles dümpelte vor sich hin. Zu diesem Zeitpunkt hatten wir
                            keinerlei Kenntnis der Materie Ultrá und wussten auch nicht, dass Kund*innen nur bei Erfolg
                            singen. Wir wollten diesem negativen Trend Etwas entgegensetzen, wehalb wir von nun an
                            versuchten einen eigenen Stimmungskern im Block N6 zu etablieren.
                        </p>
                        <p class="para">
                            In Liga 3 holte uns schnell die Realität ein. Wir stellten fest, dass außer uns kaum jemand
                            am Support teilnahm. Durch die bittere Enttäuschung, dass die mit dem Aufstieg 2006/2007
                            dazu gewonnene Fanschar nur dem Erfolg hinterherlief, begann die tiefergehende
                            Auseinandersetzung mit Fankultur, fanpolitischen Themen sowie der Faszination Ultrá. So
                            wurden die neuesten Ausgaben des „Erlebnis Fußball“ oder „Blickfang Ultra“ hitzig bis in die
                            späten Auswärtsfahrtstunden diskutiert. Schnell wuchs der Wunsch nach einer eigenen
                            Ultraszene bei Wehen, die trotz der sportlichen Erfolgslosigkeit sowie des Spielens im Exil,
                            die Fahne für den SV Wehen Taunusstein hoch halten und das Andenken daran bis in alle
                            Ewigkeit zu ehren vermochte. So entschieden wir uns in der Saison 2009/2010 beim
                            Auswärtsspiel in Burghausen mit unserer ersten eigenen „Ultras“-Zaunfahne aufzutreten. In
                            der Retrospektive erkennen wir an, dass wir zu diesem Zeitpunkt meilenweit vom Ultrá-Dasein
                            entfernt waren. Jedoch fühlte es sich zu diesem Zeitpunkt richtig an, sich als Ultras zu
                            offenbaren, da durch das neue Selbstverständnis innerhalb der Gruppe ein starkes Band
                            entstanden war.
                        </p>
                        <p class="para">
                            Das offene Bekenntnis zu Ultrá-Dasein beflügelte zunächst unsere Sache. Der Gruppe traten in
                            den ersten Jahren eine Vielzahl junger Menschen bei, welche voller Tatendrang und Elan
                            strotzten. Doch so schnell wie sie kamen, verließen sie den Verein in der darauffolgenden
                            Saison auch schon wieder. Wir verfolgten zu diesem Zeitpunkt einen falschen Ansatz: Nämlich,
                            dass es sich Masse um Klasse handele. Wenn nur genug Kehlen schreien, wird der Support schon
                            geil. Falsch gedach! Sich nur nach dem Abenteuer sehnend, kamen die jungen Heranwachsenden
                            und wurden letztendlich enttäuscht, als sie bemerkten, dass sowohl unser Verein miserablen
                            Fußball spielte als auch gefühlt jede andere Gruppe in Ultrá-Deutschland zu diesem Zeitpunkt
                            größer und ‚böser‘ als wir war.
                        </p>
                        <p class="para">
                            Um neue Interessierte an uns heranzuziehen, entschieden wir uns für ein zweigleisiges System
                            infolgedessen die Supcrew gegründet wurde, welche ebenfalls einen großen Zulauf verzeichnen
                            konnte. Obwohl in dieser Gruppe viele Eintagsfliegen herumschwirrten, konnte die eine oder
                            andere Koryphäe dauerhaft für unsere Sache gewonnen werden. Des eigentliche Hauptnutzen der
                            Supcrew war, dass Ruhe in die Hauptgruppe einkehrte, was uns allerdings erst im Nachhinein
                            auffiel. Ohne die allzu große Fluktuation war klar, dass man auf die Menschen links und
                            rechts von sich im Block zählen konnte, komme was wolle. Dies sollte in den Folgejahren
                            ordentlich auf die Probe gestellt werden.
                        </p>
                        <p class="para">
                            Im Jahr 2014 kam es auf dem Heimweg vom Auswärtsspiel in Saarbrücken gegen den SV Elversberg
                            zu Auseinandersetzungen mit der Polizei, infolge derer der Zug in Türkismühle Not halten
                            musste. Sicherlich ist hierbei auch unser Verhalten zu reflektieren. Jedoch war uns die
                            bereitgestellte BFE Einheit aus Koblenz bereits negativ im Gedächtnis geblieben, da es in
                            der Vergangenheit bereits beim Auswärtsspiel in Offenbach zum Austausch von gegenseitigen
                            Nettigkeiten gekommmen war. Es ist nicht von der Hand zu weißen, dass die eingesetzten
                            Beamt*innen ebenfalls ihren Anteil zur darauf folgenden Eskalation der Situation begetragen
                            hatten. Allerdings sitzen wir Fans am Ende immer am kürzeren Hebel, sodass unsere Gruppe
                            infolge dieser Ereignisse mit einer Anklagewelle sowie über 40 Stadionverboten überzogen
                            wurde. Für eine junge und kleine Szene wie die unsere der vermeintliche Todesstoß: War doch
                            von nun an über die Hälfte der der aktiven Szene für vier Jahre aus allen Stadien verbannt.
                        </p>
                        <p class="para">
                            Wir wollten nicht klein beigeben, weshalb wir uns reorganisierten. Von diesem Zeitpunkt an
                            besuchten wir die Spiele der Zweiten. Der Repression trotzend schallten unsere Lieder vom
                            Halberg hinunter ins Dorf hinein. Dies ging mit einem sehr positiven Gefühl einher, wurden
                            unsere Mitglieder doch tatsächlich immer öfter darauf angesprochen, was denn oben auf dem
                            Halberg los sei. Die zweite Mannschaft war uns für den Support unfassbar dankbar, sodass die
                            ersten Hürden schnell überwunden wurden und es zu einem regen Austausch zwischen Team und
                            Fans kam. Das größte Highlight dabei war natürlich Woche für Woche auf unserem Halberg zu
                            spielen. Diese positiven Gefühle waren leider nicht von Dauer. Ohne gegnerische Fans und
                            sportliche Brisanz der Spiele kehrte eine Tristesse ein, die Einige dazu bewegte, wieder zu
                            den Spielen der Ersten zurückzukehren. Andere verloren ganz den Spaß am Fußball, bis sie uns
                            schließlich verließen. Mit den übrigen 15 Hanseln hieß es die Gruppe Supremus Dilectio am
                            Leben zu erhalten, bis die Stadionverbote auf Bewährung ausgesetzt wurden oder ausliefen.
                        </p>
                        <p class="para">
                            Last ones standing 2016: Die letzten soll der Teufel holen! Als auch das (vor-)letzte
                            Stadionverbot aufgehoben war, machte sich genau diese eingeschworene Gruppe auf, den Mythos
                            vom Wehner Markt abermals in der dritten Liga aufleben zu lassen. Was dann folgte, war wohl
                            eine unglaubliche Entwicklung unserer Szene. Wir trainierten nicht hart, wurden weder
                            Hansahools, noch sammelten wir jede*n Allesfahrer*in aus Hessen ein, um mit Tausenden durch
                            Europa zu marschieren. Stattdessen emanzipierten wir uns innerhalb der Fanszene, gegenüber
                            des Teams, den Vereinsfunktionären und vor allem innerhalb von Ultrá-Deutschland. Aus bloßem
                            saufen am Spieltag wurden ernsthafte fanpolitische Diskussionen, (regelmäßiger) Austausch
                            mit den Vereinsverantwortlichen, Engagement für Ausgegrenzte und Schwächere. Darüber hinaus
                            erkämpften wir uns weitere Rechte und sorgten dafür, dass die Vereinsverantwortlichen uns
                            für ihre Entscheidungen Rechenschaft schuldig sind. Es wurden eigene Positionen entwickelt
                            und reflektiert, die unseren Umgang mit dem Konstrukt SV Wehen Wiesbaden und der daraus
                            resultierenden Kritik Ultrá-Deutschlands betreffen und unzählige weitere Dinge auf den Weg
                            gebracht. Der Support wurde diverser: Anspruchsvollere Texte und Melodien standen im Fokus
                            und es wurden Choreografien gestemmt, die den Rahmen einer kleinköpfigen Gruppe, wie der
                            unseren sprengten und in unseren größten Meisterwerken bei Pokalspielen mündeten.
                            Hinzukommt, dass in unserer Gruppe Entscheidungen demokratisch und konsensorientiert
                            getroffen werden. Dies geht für uns mit unserem Einsatz gegen Diskriminierung im und
                            außerhalb des Stadions einher. Denn jeder Mensch, der unseren Sportverein unterstützen will,
                            soll bei uns auch die Möglichkeit dazu geboten bekommen, ohne negative bzw. diskriminierende
                            Erfahrungen machen zu müssen.
                        </p>
                        <p class="para">
                            Darüber hinaus sehen wir es als unsere Pflicht an das Andenken unseres SV Wehen zu wahren.
                            Dementsprechend setzten wir uns in der Vergangenheit beispielsweise dafür ein, dass das
                            „Wehen“ weiterhin auf den Trikots unserer Mannschaft zu lesen ist. Aus dem gleichen Grund
                            verwenden wir bei den von uns durchgeführten Choreografien, dem erstellten Material sowie
                            dem entworfenen Merchandise lediglich das Logo des eingetragenen Vereins und nicht das Logo
                            der ausgegliederten Profi-Abteilung. Da der SV Wehen 1926 Taunusstein e.V. den
                            entscheidenden Bezugspunkt für unsere Identifikation darstellt. Denn nicht wenige Mitglieder
                            unserer Gruppe spielten in der Vergangenheit selbst für den Sportverein oder wurden bereits
                            von ihren (Groß-)Eltern zu Spielen auf den Halberg mitgenommen. Damit lässt sich auch das
                            ambivalente Verhältnis unserer Gruppe zur ausgegliederten Profi-Mannschaft erklären. Viele
                            unserer Gruppenmitglieder waren zum Zeitpunkt der Ausgliederung und des ersten Aufstiegs in
                            die 2. Liga noch sehr jung und erkannten dementsprechend nicht, wie weitreichend dieser
                            Prozess sein sollte und ließen sich in jugendlichem Übereifer von der Aufstiegseuphorie
                            ergreifen. Umso wichtiger erscheint es uns jedoch, die vorhandenen Andenken hochzuhalten und
                            zu ehren, um die Wurzeln des Vereins nicht in Vergessenheit geraten zu lassen. Dieses
                            Engagement erscheint umso notwendiger als, dass die Vereinsführung in regelmäßigen Abständen
                            darum bemüht ist, sich der Stadt Wiesbaden anzubiedern und die eigenen Wurzeln zu
                            verleugnen, um den verbliebenen Fans immer wieder vor den Kopf zu stoßen.
                        </p>
                        <p class="para">
                            Wie es weitergeht, wird die Zeit zeigen. Doch eins ist sicher: Solange Supremus Dilectio in
                            den Stadien Deutschlands vertreten ist, wird der SV Wehen 1926 Taunusstein e.V. niemals
                            untergehen.
                        </p>
                        <p class="para">
                            Für immer Supremus Dilectio, Supremus Dilectio für immer.
                        </p>

                        <p class="para">
                            <img src="/media/other/about.webp" alt="">
                        </p>
                    </div>


                    <div class="post-sharing">
                        <hr style="width: 70px; margin: 10px 0;">
                        <p class="para" style="font-size: 15px;">Share this:</p>
                        <ul class="list-inline">
                            <li><a href="#" class="fb-button btn btn-primary" style="border-color: black !important ;border: 1px solid;"><i class="fa fa-twitter" style="color: black !important ;"></i> <span class="down-mobile" style="color: black !important ;">Twitter</span></a></li>
                            <li><a href="#" class="fb-button btn btn-primary" style="border-color: black !important ;border: 1px solid;"><i class="fa fa-facebook" style="color: black !important ;"></i> <span class="down-mobile" style="color: black !important ;">Facebook</span></a></li>
                        </ul>
                    </div>

                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <form class="form-inline search-form" action="/search" method="get" style="align-items: flex-start;">
                            <div class="form-group">
                                <input type="text" name="query" id="search" value="" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"
                                style="background-color: black !important; color: white !important;"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">KATEGORIEN</h2>
                        <div class="link-widget">

                            <ul>
                                {% for cat in cats %}

                                <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

                                {%endfor%}

                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{%endblock%}