
{%block contentcat%}


<div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
    <div class="sidebar">
        <div class="widget">
            <form class="form-inline search-form" action="/search" method="get" style="align-items: flex-start;">
                <div class="form-group">
                    <input type="text" name="query" id="search" value="" class="form-control" placeholder="Search on the site">
                </div>
                <button type="submit" class="btn btn-primary"
                    style="background-color: black !important; color: white !important;"><i
                        class="fa fa-search"></i></button>
            </form>
        </div>

        <div class="widget">
            <h2 class="widget-title">KATEGORIEN</h2>
            <div class="link-widget">
                
                <ul>
                    {% for cat in cats %}

                    <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

                    {%endfor%}

                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}