{%extends 'base.html' %}

{%block title%} Datenschutz | Supremus Dilectio 2008 {%endblock%}

{%block content%}




<section class="section wb" style='font-family: "Gelasio", serif;
font-weight: 400;'>
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="page-wrapper">

                    <div>
                        <h3 class="heading">DATENSCHUTZ / HAFTUNG</h3>
                        <p class="para">
                        <h6>DATENSCHUTZERKLÄRUNG</h6> <br>
                        <p class="para">
                            Diese Website benutzt WordPress.com-Stats, ein Tool zur statistischen Auswertung der
                            Besucherzugriffe, betrieben von Automattic Inc., 60 29th Street #343, San Francisco, CA
                            94110-4929, USA, unter Einsatz der Trackingtechnologie von Quantcast Inc., 201 3rd St, Floor
                            2, San Francisco, CA 94103-3153, USA und comScore Inc., 11950 Democracy Drive, Suite 600
                            Reston, VA 20190, USA.. WordPress.com-Stats verwendet sog. „Cookies“, Textdateien, die auf
                            Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch sie
                            ermöglichen. Die durch die Cookies erzeugten Informationen über Ihre Benutzung dieses
                            Internetangebotes werden auf Servern in den USA gespeichert. Die IP-Adresse wird sofort nach
                            der Verarbeitung und vor deren Speicherung anonymisiert. Sie können die Installation der
                            Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen
                            Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen
                            dieser Website vollumfänglich nutzen können.
                        </p>
                        <p class="para"><br>
                            Sie können der Erhebung und Nutzung der Daten durch Quantcast mit Wirkung für die Zukunft
                            widersprechen, indem Sie an dieser Stelle durch einen Klick auf den Link „Click here to
                            opt-out“ ein Opt-Out-Cookie in Ihrem Browser setzen: http://www.quantcast.com/opt-out.
                        </p>
                        <p class="para"><br>
                            Sie können der Erhebung und Nutzung der Daten durch comScore mit Wirkung für die Zukunft
                            widersprechen, indem Sie an dieser Stelle ein Opt-Out-Cookie in Ihrem Browser setzen:
                            http://www.scorecardresearch.com/OptOutTag.aspx.
                        </p>
                        <p class="para"><br>
                            Sollten Sie alle Cookies auf ihrem Rechner löschen, müssen sie die Opt-Out-Cookies erneut
                            setzen.
                        </p>
                        </p>

                        <p class="para">
                            HAFTUNGSAUSSCHLUSS
                        </p>
                        <p class="para">
                            Die hier aufgelisteten Fotos dienen ausschließlich zur DOKUMENTATION und ARCHIVIERUNG und
                            sollen nicht zu Straftaten aufrufen oder sich dazu bekennen! Die Weiterverbreitung ist nur
                            nach Absprache möglich.
                        </p>
                        <p class="para">
                            Haftung für Inhalte
                        </p>
                        <p class="para">
                            Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit,
                            Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen.
                        </p>
                        <p class="para">
                            Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach
                            den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter
                            jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen
                            oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.
                            Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den
                            allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst
                            ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei bekannt werden
                            von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.
                        </p>
                        <p class="para">
                            Haftung für Links
                        </p>
                        <p class="para">
                            Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen
                            Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.
                            Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der
                            Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf
                            mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung
                            nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne
                            konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei bekannt werden von
                            Rechtsverletzungen werden wir derartige Links umgehend entfernen.
                            Urheberrecht
                        </p>
                        <p class="para">
                            Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem
                            deutschen Urheberrecht. Beiträge Dritter sind als solche gekennzeichnet. Die
                            Vervielfältigung, Bearbeitung, Verbreitung und jede Art der Verwertung außerhalb der Grenzen
                            des Urheberrechtes bedürfen der schriftlichen Zustimmung des jeweiligen Autors bzw.
                            Erstellers. Downloads und Kopien dieser Seite sind nur für den privaten, nicht kommerziellen
                            Gebrauch gestattet.
                        </p>
                        <p class="para">
                            Die Betreiber der Seiten sind bemüht, stets die Urheberrechte anderer zu beachten bzw. auf
                            selbst erstellte sowie lizenzfreie Werke zurückzugreifen.
                            Datenschutz
                        </p>
                        <p class="para">
                            Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder
                            eMail-Adressen) erhoben werden, erfolgt dies soweit möglich stets auf freiwilliger Basis.
                            Die Nutzung der Angebote und Dienste ist, soweit möglich, stets ohne Angabe
                            personenbezogener Daten möglich.
                        </p>
                        <p class="para">
                            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per
                            E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff
                            durch Dritte ist nicht möglich.
                        </p>
                        <p class="para">
                            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte
                            zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien
                            wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich
                            rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch
                            Spam-Mails, vor.
                        </p>
                        <p class="para">
                            Quelle: eRecht24.de – Internetrecht von Rechtsanwalt Sören Sieber
                        </p>


                    </div>
                    <div class="post-sharing">
                        <hr style="width: 70px; margin: 10px 0;">
                        <p class="para" style="font-size: 15px;">Share this:</p>
                        <ul class="list-inline">
                            <li><a href="#" class="fb-button btn btn-primary" style="border-color: black !important ;border: 1px solid;"><i class="fa fa-twitter" style="color: black !important ;"></i> <span class="down-mobile" style="color: black !important ;">Twitter</span></a></li>
                            <li><a href="#" class="fb-button btn btn-primary" style="border-color: black !important ;border: 1px solid;"><i class="fa fa-facebook" style="color: black !important ;"></i> <span class="down-mobile" style="color: black !important ;">Facebook</span></a></li>
                        </ul>
                    </div>




                </div>
            </div><!-- end col -->

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="widget">
                        <form class="form-inline search-form" action="/search" method="get" style="align-items: flex-start;">
                            <div class="form-group">
                                <input type="text" name="query" id="search" value="" class="form-control" placeholder="Search on the site">
                            </div>
                            <button type="submit" class="btn btn-primary"
                                style="background-color: black !important; color: white !important;"><i
                                    class="fa fa-search"></i></button>
                        </form>
                    </div><!-- end widget -->

                    <div class="widget">
                        <h2 class="widget-title">KATEGORIEN</h2>
                        <div class="link-widget">

                            <ul>
                                {% for cat in cats %}

                                <li><a href="/category/{{cat.url}}">{{cat.title}}</a></li>

                                {%endfor%}

                            </ul>
                        </div><!-- end link-widget -->
                    </div><!-- end widget -->
                </div><!-- end sidebar -->
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section>

{%endblock%}